.notification {
    &_header {
        width: 100%;
        text-align: right;
        margin-bottom: 23px;
        
        input {
            padding: 10px;
            border: none;
            border-radius: 8px;
            outline: none;
        }

        button {
            padding: 10px;
            font-style: italic;
            background-color: #ebebeb;
            color: black;
            font-size: 19px;
            border-radius: 10px;
        }
        button:hover {
            background-color: #8ea5a3;
        }
    }
}